@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgb(173, 173, 173);
}
.bucket{
  display: flex;
  flex-direction: column;
  width: 90vw;
}
.heading{
  border: 2px solid black;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.8;
  
}

.container {
  display: flex;
  width: 90vw;
}

.cards {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.cards h2 {
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  margin: 0;
  opacity: 0;  
}

.cards.active {
  flex: 5;
}

.cards.active h2 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .cards:nth-of-type(4),
  .cards:nth-of-type(5) {
    display: none;
  }
}
